target/
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
*.swp
*~
.metadata
.svn
.checkstyle
atlassian-ide-plugin.xml
.sonar-ide.properties
*.patch
release.properties
pom.xml.releaseBackup
